@import '../variables';


.hskCard {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 10px;
  
  .card-image {
  height: 200px;

  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  border: 5px solid rgba($color: $themeColor, $alpha: 1.0);
  // box-shadow: 5px 5px 3px #000;
  }
  .cardHanzi {
    // margin-top: 70px;
    font-size: 3rem;
    font-family: 'Noto Serif SC', serif;
    font-weight: 700;
  }
}

.hskCardBtnHolder {
  display: flex;
  justify-content: space-between;
}





.cardPinyin {
  font-size: 1.3rem;
  font-weight: bolder;
  // letter-spacing: 2px;
}
.cardMeaning {
  font-size: 1.3rem;
}
.card-content p.wordProgress {
  margin-bottom: 10px;
  user-select: none;
}
.wordListSliderHolder {
  margin-top: 20px;
  cursor: pointer;
}
.wordListSliderVal {
  margin-top: 10px;
}

.noUi-connect {
  padding: 0 17px !important;
  background: rgba($color: $themeColor, $alpha: 1.0) !important;
  display: hidden !important;
}

.exampleSentence {
  font-family: 'Noto Serif SC', serif;
}